<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/readable/bootstrap.min.css" rel="stylesheet" integrity="sha384-Li5uVfY2bSkD3WQyiHX8tJd0aMF91rMrQP5aAewFkHkVSTT2TmD2PehZeMmm7aiL" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand logo">HipFoodTrucks</a>

        <button class="hamburger navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" >&#9776;</button>
        <button class="cross navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">&#735;</button>
      </header>
      <div class="menu">
        <ul>
          {{#if loggedIn}}
          <a href="/"><li>Home</li></a>
          <a href="/logout"><li>Logout</li></a>
          <image class = "circle" src="{{user.image_url}}" alt="user image">
          {{else}}
          <a href="/login"><li>Login</li></a>
          {{/if}}
        </ul>
      </div>
    </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
            <li>
              <div class="navbar-brand">

              </div>
            </li>
          </ul>
          <form class="navbar-form navbar-left searchForm" role="search" id="search">
            <div class="form-group">
              <select class="form-control" id="searchMethod">
                <option value="near">Max Distance (Miles)</option>
                <option value="truckName">Food Truck Name</option>
                <option value="truckType">Food Type</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="searchTerm" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default" id="search">Search</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            {{#if user.image_url}}
            <image class="circle" src="{{user.image_url}}" alt="user image">
            {{/if}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{#if loggedIn}}
              <li><a href="/review/user">Reviews</a></li>
              <li><a href="/logout">Logout</a></li>
            {{else}}
              <li><a href="/login">Login</a></li>
            {{/if}}
          </ul>

        </div>
      </div>
    </nav>

    {{{body}}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src='/javascripts/menu.js'></script>
    <script src='/javascripts/main.js'></script>
    <script src='/javascripts/map.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC3pdD43USbZV5vRojdGTZ72TCr3b4ovs&callback=initMap"></script>
    <script src="/javascripts/search.js"></script>
    </main>
  </body>
</html>
