
<main class="myMain">

  <div class='truckProfileInfo'>
    <div class="truckDescription">
      <h1 class="truckName">{{truck.0.truck_name}}</h1>
      <div class='panel panel-danger'>
        <div class='panel-heading'>
          <h3 class='panel-title' id="truckName">{{truck.0.genre}}</h3>
        </div>
        <div class='panel-body' id="truckDescriptionBody">
          {{truck.0.description}}
        </div>
      </div>
    </div>
    <div class="truckPicture">
      <img class='truckProfilePic' src='{{truck.0.image_url}}'/>
    </div>
  </div>

  <div class="scheduleInfo">
    <div class='panel panel-default'>
      <div class='panel-body schedule'>
        <div class='scheduleDay'>
          <span class='scheduleDayName Sunday'>Sunday</span>
          <div class="scheduleDayInfo">
            <span class='scheduleLocation'>{{truck.0.location}}</span>
            <span class='scheduleTime'>{{truck.0.open_time}} - {{truck.0.close_time}}</span>
          </div>
        </div>
        <div class='scheduleDay'>
          <span class='scheduleDayName Monday'>Monday</span>
          <div class="scheduleDayInfo">
            <span class='scheduleLocation'>{{truck.1.location}}</span>
            <span class='scheduleTime'>{{truck.1.open_time}} - {{truck.1.close_time}}</span>
          </div>
        </div>
        <div class='scheduleDay'>
          <span class='scheduleDayName Tuesday'>Tuesday</span>
          <div class="scheduleDayInfo">
            <span class='scheduleLocation'>{{truck.2.location}}</span>
            <span class='scheduleTime'>{{truck.2.open_time}} - {{truck.2.close_time}}</span>
          </div>
        </div>
        <div class='scheduleDay'>
          <span class='scheduleDayName Wednesday'>Wednesday</span>
          <div class="scheduleDayInfo">
            <span class='scheduleLocation'>{{truck.3.location}}</span>
            <span class='scheduleTime'>{{truck.3.open_time}} - {{truck.3.close_time}}</span>
          </div>
        </div>
        <div class='scheduleDay'>
          <span class='scheduleDayName Thursday'>Thursday</span>
          <div class="scheduleDayInfo">
            <span class='scheduleLocation'>{{truck.4.location}}</span>
            <span class='scheduleTime'>{{truck.4.open_time}} - {{truck.4.close_time}}</span>
          </div>
        </div>
        <div class='scheduleDay'>
          <span class='scheduleDayName Friday'>Friday</span>
          <div class="scheduleDayInfo">
            <span class='scheduleLocation'>{{truck.5.location}}</span>
            <span class='scheduleTime'>{{truck.5.open_time}} - {{truck.5.close_time}}</span>
          </div>
        </div>
        <div class='scheduleDay'>
          <span class='scheduleDayName Saturday'>Saturday</span>
          <div class="scheduleDayInfo">
            <span class='scheduleLocation'>{{truck.6.location}}</span>
            <span class='scheduleTime'>{{truck.6.open_time}} - {{truck.6.close_time}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron profileJumboAdjust" id="truckMap">
    <h1>Map</h1>
    <p>This map will display color-coded icons representing where the truck will be on each day. We'll need a color to denote an icon that matches where the truck is right then. My first thought is either white or black. Or option 2.</p>
    <p><a class="btn btn-primary btn-lg">Option 2</a></p>
  </div>

<!-- User Reviews -->
  <div class="well">
    <h4>Write a review?</h4>

    <div action="" method="POST" class="input-group">
      <input type="text" name="review" id="userComment" class="form-control input-sm chat-input" placeholder="Write your review here..." />
	    <span class="input-group-btn">
      <a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-comment"></span> Add Review</a>
      </span>
    </div>

    <hr data-brackets-id="12673">
    <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
      <strong class="pull-left primary-font">Dr. Ken Hurt</strong>
      <small class="pull-right text-muted">
       <span class="glyphicon glyphicon-time"></span>7 mins ago</small>
      </br>
      <li class="ui-state-default" id="test">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </li>
      </br>
      <strong class="pull-left primary-font">Bartholomew Hipman</strong>
      <small class="pull-right text-muted">
       <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
      </br>
        <li class="ui-state-default">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
    </ul>
  </div>

</main>
